__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
*.png
*.pdf
!LICENSE
.DS_Store
.env
*.ipynb_checkpoints/
.venv/
venv/
